/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* REGOLE GENERALI */
.container{
    max-width: 1200px;
    margin: 0 auto;
    min-height: 60px;
}

li{
    list-style: none;
    display: inline-block;
}

a{
    text-decoration: none;
    color: white;
}

li:nth-child(2){
    padding: 0 5px 0;
}

i{
    color: white;
}

.container-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* SEZIONE HEADER */
header{
    background-color: #ff6900;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    z-index: 2;
}

header img{
    height: 2em;
}


/* SEZIONE MAIN */
main{
    padding-top: 60px;
}

.pic-row{
    margin: 40px 0 40px;
}

/* PRIMA RIGA */
.card{
    width: 32%;
    position: relative;
}

main img{
    width: 100%;
}

.card > div{
    position: absolute;
    top: 10px;
    right: 0;
    padding: 5px 10px;
    background-color: white;
    font-size: 2em;
}